<section>
  <article>
    <md-card>
      <div class="quote">
      <p class="quote-text"> {{ quote.text }}</p>
      <p class="quote-author">by <em>{{ quote.author || "Unknown"}}</em></p>
      </div>
      <footer>
        <a md-raised-button color="accent" class="quote-link" href="{{quote.text | truncateTweet}}">Tweet</a>
        <button md-raised-button color="primary" class="quote-link" (click)="getQuote()">Next Quote</button>
      </footer>
    </md-card>
  </article>
</section>
<section>
  <div>
    <p>Uses the <a href="http://forismatic.com/en/">Forismatic API</a></p>
  </div>
</section>